<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-btn">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="identityBox">
                    <div class="form-wrapper">
                        <h1 id="loginModalLabel">welcome back!</h1>
                        <input class="inputField" type="email" name="email" placeholder="Email Address">
                        <input class="inputField" type="password" name="password" placeholder="Enter Password">
                        <div class="input-check remember-me">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" name="save-for-next" id="saveForNext">
                                <label for="saveForNext">Remember me</label>
                            </div>
                            <div class="text"> <a href="index-2.html">Forgot Your password?</a> </div>
                        </div>
                        <div class="loginBtn">
                            <a href="index-2.html" class="theme-btn rounded-0"> Log in </a>
                        </div>
                        <div class="orting-badge">
                            Or
                        </div>
                        <div>
                            <a class="another-option" href="https://www.google.com/">
                                <img src="assets/img/google.png" alt="google">
                                Continue With Google
                            </a>
                        </div>
                        <div>
                            <a class="another-option another-option-two" href="https://www.facebook.com/">
                                <img src="assets/img/facebook.png" alt="google">
                                Continue With Facebook
                            </a>
                        </div>

                        <div class="form-check-3 d-flex align-items-center from-customradio-2 mt-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault">
                            <label class="form-check-label">
                                I Accept Your Terms & Conditions
                            </label>
                        </div>
                    </div>

                    <div class="banner">
                        <button type="button" class="rounded-0 login-btn" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Log in</button>
                        <button type="button" class="theme-btn rounded-0 register-btn" data-bs-toggle="modal"
                            data-bs-target="#registrationModal">Create
                            Account</button>
                        <div class="loginBg">
                            <img src="assets/img/signUpbg.jpg" alt="signUpBg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-btn">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="identityBox">
                    <div class="form-wrapper">
                        <h1 id="registrationModalLabel">Create account!</h1>
                        <input class="inputField" type="text" name="name" id="name" placeholder="User Name">
                        <input class="inputField" type="email" name="email" placeholder="Email Address">
                        <input class="inputField" type="password" name="password" placeholder="Enter Password">
                        <input class="inputField" type="password" name="password" placeholder="Enter Confirm Password">
                        <div class="input-check remember-me">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" name="save-for-next" id="rememberMe">
                                <label for="rememberMe">Remember me</label>
                            </div>
                            <div class="text"> <a href="index-2.html">Forgot Your password?</a> </div>
                        </div>
                        <div class="loginBtn">
                            <a href="index-2.html" class="theme-btn rounded-0"> Log in </a>
                        </div>
                        <div class="orting-badge">
                            Or
                        </div>
                        <div>
                            <a class="another-option" href="https://www.google.com/">
                                <img src="assets/img/google.png" alt="google">
                                Continue With Google
                            </a>
                        </div>
                        <div>
                            <a class="another-option another-option-two" href="https://www.facebook.com/">
                                <img src="assets/img/facebook.png" alt="google">
                                Continue With Facebook
                            </a>
                        </div>
                        <div class="form-check-3 d-flex align-items-center from-customradio-2 mt-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault">
                            <label class="form-check-label">
                                I Accept Your Terms & Conditions
                            </label>
                        </div>
                    </div>

                    <div class="banner">
                        <button type="button" class="rounded-0 login-btn" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Log in</button>
                        <button type="button" class="theme-btn rounded-0 register-btn" data-bs-toggle="modal"
                            data-bs-target="#registrationModal">Create
                            Account</button>
                        <div class="signUpBg">
                            <img src="assets/img/registrationbg.jpg" alt="signUpBg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Cart</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Cart
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Shop Cart Section Start -->
<div class="cart-section section-padding">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row g-5">
                <div class="col-xl-9">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            <a href="shop-cart.html" class="remove-icon">
                                                <img src="assets/img/icon/icon-9.svg" alt="img">
                                            </a>
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/01.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                simple Things You To Save Book
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="cart-price">$30.00</span>
                                    </td>
                                    <td>
                                        <span class="quantity-basket">
                                            <span class="qty">
                                                <button class="qtyminus" aria-hidden="true">−</button>
                                                <input type="number" name="qty" id="qty2" min="1" max="10" step="1"
                                                    value="1">
                                                <button class="qtyplus" aria-hidden="true">+</button>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="subtotal-price">$120.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            <a href="shop-cart.html" class="remove-icon">
                                                <img src="assets/img/icon/icon-9.svg" alt="img">
                                            </a>
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/02.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                Qple GPad With Retina Sisplay
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="cart-price">$30.00</span>
                                    </td>
                                    <td>
                                        <span class="quantity-basket">
                                            <span class="qty">
                                                <button class="qtyminus" aria-hidden="true">−</button>
                                                <input type="number" name="qty" id="qty3" min="1" max="10" step="1"
                                                    value="1">
                                                <button class="qtyplus" aria-hidden="true">+</button>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="subtotal-price">$120.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            <a href="shop-cart.html" class="remove-icon">
                                                <img src="assets/img/icon/icon-9.svg" alt="img">
                                            </a>
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/03.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                Flovely and Unicom Erna
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="cart-price">$30.00</span>
                                    </td>
                                    <td>
                                        <span class="quantity-basket">
                                            <span class="qty">
                                                <button class="qtyminus" aria-hidden="true">−</button>
                                                <input type="number" name="qty" id="qty" min="1" max="10" step="1"
                                                    value="1">
                                                <button class="qtyplus" aria-hidden="true">+</button>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="subtotal-price">$120.00</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-wrapper-footer">
                        <form action="shop-cart.html">
                            <div class="input-area">
                                <input type="text" name="Coupon Code" id="CouponCode" placeholder="Coupon Code">
                                <button type="submit" class="theme-btn">
                                    Apply
                                </button>
                            </div>
                        </form>
                        <a href="shop-cart.html" class="theme-btn">
                            Update Cart
                        </a>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="table-responsive cart-total">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cart Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center justify-content-between">
                                            <span class="sub-title">Subtotal:</span>
                                            <span class="sub-price">$84.00</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center  justify-content-between">
                                            <span class="sub-title">Shipping:</span>
                                            <span class="sub-text">
                                                Free
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center  justify-content-between">
                                            <span class="sub-title">Total: </span>
                                            <span class="sub-price sub-price-total">$84.00</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="checkout.html" class="theme-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>